---
import Layout from "../../../../layouts/Layout.astro";
import Layout2 from "../../../../layouts/Layout2.astro";
import { db, Usuario, Concierto } from "astro:db";
import { parse } from "cookie";

const cookie_acceso = parse(Astro.request.headers.get("cookie") || "");
const cod_usu = parseInt(cookie_acceso.codigo_usu);
const haentradoencuenta = cookie_acceso.auth === "true";

let usuario_accedido;

if (!haentradoencuenta) {
    Astro.redirect("/Acceder");
}

const usuariosregistrados = await db.select().from(Usuario);

usuario_accedido = usuariosregistrados.find(
    (usuario_accedido) => usuario_accedido.cod_usuario === cod_usu,
);

if (usuario_accedido?.tipo_usu !== true) {
    Astro.redirect("/Usuario/CuentaUsu");
}
---

<Layout2 mostrarNavcuenta={true} title="Añadir Conciertos">
    <div></div>
</Layout2>
