---
import { db, Usuario } from "astro:db";
import { parse } from "cookie";

const cookie_usu = parse(Astro.request.headers.get("cookie") || "");
const haentradoencuenta = cookie_usu.auth === "true";
const cod_usuario = cookie_usu.codigo_usu;

let usuario_accedido = null;
let tipo_usuario = null;

const cod_usu = parseInt(cod_usuario);
const usuarios_registrados = await db.select().from(Usuario);

usuario_accedido = usuarios_registrados.find(
    (usuario_buscar) => usuario_buscar.cod_usuario === cod_usu,
);
if (usuario_accedido) {
    tipo_usuario = usuario_accedido.tipo_usu;
}
---

<nav
    class="bg-orange-400 border-r-4 border-black p-0 h-full w-full sm:w-40 flex flex-col"
>
    <button
        class="text-black py-2 w-full text-left fondoboton"
        onclick="window.location.href = '/Micuenta'"
    >
        Informacion general
    </button>
    {
        tipo_usuario && (
            <button
                class="text-black py-2 w-full text-left fondoboton"
                onclick="window.location.href = '/AccionesAdmin'"
            >
                Acciones de Administrador
            </button>
        )
    }
    <button
        class="text-black py-2 w-full text-left fondoboton"
        onclick="window.location.href = '/PersonalizarDatosUsuario/ModificacionDatos'"
    >
        Modificar Datos
    </button>
    <form action="/CerrarSesion" method="post" class="w-full">
        <button
            type="submit"
            class="text-black py-2 w-full text-left fondoboton"
        >
            Cerrar Sesión
        </button>
    </form>
</nav>

<style>
    .fondoboton {
        transition: background-color 0.5s ease;
    }

    .fondoboton:hover {
        background-color: rgba(106, 98, 98, 0.3);
    }
</style>
