---
import ImgUsu from "../../components/ComponentesPerfilUsu/ImagenesPerfil/ImgUsu.jsx";
import { db, Usuario } from "astro:db";
import { parse } from "cookie";

const cookie_usu = parse(Astro.request.headers.get("cookie") || "");
const cod_usu = cookie_usu.codigo_usu;
const haentradoencuenta = cookie_usu.auth === "true";
let usuario_accedido = null;

if (!haentradoencuenta) {
    return Astro.redirect("/Acceder");
}

const codigo_usu_buscar = parseInt(cod_usu);
const usuarios_registrados = await db.select().from(Usuario);
usuario_accedido = usuarios_registrados.find(
    (usuarioactivo) => usuarioactivo.cod_usuario === codigo_usu_buscar,
);

if (!usuario_accedido) {
    return Astro.redirect("/Acceder");
}
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cambiar Imagen de Usuario</title>
        <link rel="stylesheet" href="/src/styles/global.css" />
    </head>
    <body
        class="flex items-center justify-center min-h-screen text-white bg-gradient-to-br from-gray-800 to-black"
    >
        <div
            class="bg-gray-900 text-black rounded-lg shadow-lg p-8 max-w-md w-full bg-opacity-80"
        >
            <div class="flex justify-center mb-4">
                <ImgUsu
                    ruta={usuario_accedido.img_usu}
                    alt="Imagen de perfil"
                />
            </div>
            <div class="flex justify-center">
                <button
                    class="bg-white hover:bg-gray-900 hover:cursor-pointer hover:text-white text-black font-bold py-2 px-4 rounded"
                    onclick="window.location.href = '/PersonalizarImagen/ImgPredefinidas'"
                >
                    Imágenes predefinidas
                </button>
            </div>
        </div>
    </body>
</html>
