---
import { db, Usuario } from "astro:db";

import { parse } from "cookie";

// Obtiene las cookies del usuario actual
const cookie_usu_act = parse(Astro.request.headers.get("cookie") || "");
const cod_usu = cookie_usu_act.codigo_usu;
const haentradoencuenta = cookie_usu_act.auth === "true";

// Redirige al usuario a la página de acceso si no ha iniciado sesión
if (!haentradoencuenta) {
    return Astro.redirect("/Acceder");
}

const codigo_usu_buscar = parseInt(cod_usu || "0");

const usuarios_registrados = await db.select().from(Usuario);

// Busca al usuario actual en la lista de usuarios registrados
const usuario_accedido = usuarios_registrados.find(
    (usuarioactivo) => usuarioactivo.cod_usuario === codigo_usu_buscar,
);

// Si el usuario no existe, redirige a la página de acceso
if (!usuario_accedido) {
    return Astro.redirect("/Acceder");
}

// Obtiene el parámetro de la URL de la imagen que se ha seleccionado
const parametro_busqueda = new URLSearchParams(Astro.url.search);
const img_seleccionada = parametro_busqueda.get("img");

// Si el método de la solicitud es POST, actualiza la imagen del usuario
if (Astro.request.method === "POST") {
    const dato_form = await Astro.request.formData();
    const imagen_act = dato_form.get("imagen_actualizar");

    // Si hay una imagen seleccionada, actualiza la base de datos
    if (imagen_act) {
        await db.update(Usuario).set({
            img_usu: imagen_act.toString(),
        });
    }
    // Redirige al usuario a la página Mi cuenta
    return Astro.redirect("/Micuenta");
}
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Imagen Seleccionada</title>
        <!-- Importa los estilos globales -->
        <link rel="stylesheet" href="/src/styles/global.css" />
    </head>
    <body
        class="flex items-center justify-center min-h-screen bg-black text-white"
    >
        <div class="text-center">
            <h1 class="text-3xl font-bold mb-4">Previsualización de Imagen</h1>
            <img
                src={img_seleccionada}
                alt="Imagen seleccionada"
                class="w-48 h-48 object-cover rounded-full mx-auto"
            />
            <!-- Formulario para confirmar la selección de la imagen -->
            <form method="post">
                <input
                    type="hidden"
                    name="imagen_actualizar"
                    value={img_seleccionada}
                />
                <button
                    type="submit"
                    class="mt-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                >
                    Aceptar
                </button>
            </form>
        </div>
    </body>
</html>
