---
import MostrarImgPredefinidas from "../../components/ComponentesPerfilUsu/ImagenesPerfil/MostrarImgPredefinidas.jsx";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Imagenes Predefinidas</title>
        <!-- Importa el archivo de estilos globales -->
        <link rel="stylesheet" href="/src/styles/global.css" />
    </head>
    <body
        class="flex items-center justify-center min-h-screen bg-black text-white"
    >
        <!-- Renderiza el componente MostrarImgPredefinidas en el cliente -->
        <MostrarImgPredefinidas client:load />
    </body>
</html>
