---
//Pagina que permite a los usuarios acceder a su cuenta
//Analiza el usuario y lo redirige a la cuenta de informacion de admins on de usuarios normales
// dependiendo de el tipo de usuario
import Layout from "../layouts/Layout.astro";
import { db, Usuario } from "astro:db";

let error_acceder = "";
let permiso_redirigir = false;

if (Astro.request.method === "POST") {
    const datos_formulario = await Astro.request.formData();
    const nombre_correo = datos_formulario.get("nombre_correo_usuario");
    const contraseña_usuario = datos_formulario.get("contraseña_usuario");

    if (
        typeof nombre_correo === "string" &&
        typeof contraseña_usuario === "string"
    ) {
        const usuarioregistrados = await db.select().from(Usuario);

        const usuario_buscar = usuarioregistrados.find(
            (usuarioaregistrarse) =>
                usuarioaregistrarse.correo_electronico === nombre_correo ||
                usuarioaregistrarse.nombre_usuario === nombre_correo,
        );

        if (usuario_buscar) {
            if (usuario_buscar.contraseña === contraseña_usuario) {
                const cookie_acceder = new Headers();
                cookie_acceder.append(
                    "Set-Cookie",
                    `auth=true; Path=/; HttpOnly`,
                );
                cookie_acceder.append(
                    "Set-Cookie",
                    `codigo_usu=${usuario_buscar.cod_usuario}; Path=/; HttpOnly`,
                );

                Astro.response.headers.set(
                    "Set-Cookie",
                    "auth=true; Path=/; HttpOnly",
                );
                Astro.response.headers.append(
                    "Set-Cookie",
                    `codigo_usu=${usuario_buscar.cod_usuario}; Path=/; HttpOnly`,
                );

                permiso_redirigir = true;
            } else {
                error_acceder = "Contraseña incorrecta, intentalo de nuevo.";
            }
        } else {
            error_acceder = "Correo/Nombre de usuario incorrecto.";
        }
    } else {
        error_acceder = "Por favor, completa todos los campos.";
    }
}
---

<Layout title="Acceder">
    <div class="max-w-md mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
        <h1 class="text-2xl font-bold mb-6 text-center">Accede a tu cuenta</h1>
        {error_acceder && <div class="text-red-500 mb-4">{error_acceder}</div>}

        <form method="POST" class="flex flex-col space-y-4">
            <label class="block">
                <span class="text-gray-700"
                    >Correo Electronico/Nombre de usuario:</span
                >
                <input
                    type="text"
                    name="nombre_correo_usuario"
                    required
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                />
            </label>
            <label class="block">
                <span class="text-gray-700">Contraseña:</span>
                <input
                    type="password"
                    name="contraseña_usuario"
                    required
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                />
            </label>
            <button
                type="submit"
                class="w-full bg-indigo-500 text-white py-2 px-4 rounded-md shadow-sm hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
                Acceder
            </button>
        </form>
    </div>
    {permiso_redirigir && <script>window.location.href = "/";</script>}
</Layout>
