---
import { parse } from "cookie";
import MenuDesplegable from "./NavegacionInicio.jsx";

const cookies = parse(Astro.request.headers.get("cookie") || "");
const haentradoencuenta = cookies.auth === "true";
---

<header
    class="flex flex-col md:flex-row items-center justify-between w-full p-4 bg-orange-400"
>
    <div class="flex items-center justify-between w-full md:w-auto">
        <MenuDesplegable accedioacuenta={haentradoencuenta} client:load />
    </div>
    <div class="flex justify-center ml-30 w-full md:w-auto">
        <div class="flex items-center justify-center md:ml-16">
            <h1 class="text-white text-4xl fuente_zen_dots mr-2">Flow</h1>
            <img
                src="https://imagedelivery.net/DX6aCRCKOB_y-l4MZVDT9w/90b3847e-cb56-4b3d-9b1d-838b48f72100/public"
                alt="logo FlowStats"
                class="h-16 w-16 mx-0"
            />
            <h1 class="text-white fuente_zen_dots text-4xl ml-2">Stats</h1>
        </div>
    </div>
    <div class="hidden md:flex mt-4 md:mt-0">
        {
            haentradoencuenta ? (
                <a href="/MiCuenta" class="text-black font-bold ml-4">
                    Mi Cuenta
                </a>
            ) : (
                <>
                    <a href="/Acceder" class="text-black font-bold ml-4">
                        Acceder
                    </a>
                    <a href="/Registro" class="text-black font-bold ml-4">
                        Registro
                    </a>
                </>
            )
        }
    </div>
</header>
<span class="block w-full bg-black h-2"></span>
{/* Barra de navegacion para enrutamiento entre paginas */}
<nav class="hidden md:flex justify-between h-12 w-full mt-0">
    <button
        class="boton-oscuro text-white px-4 py-2 flex-1 h-full"
        onclick="window.location.href='/'">Inicio</button
    >
    <button
        class="boton-oscuro text-white px-4 py-2 flex-1 h-full"
        onclick="window.location.href='/Noticias'">Noticias</button
    >
    <button
        class="boton-oscuro text-white px-4 py-2 flex-1 h-full"
        onclick="window.location.href='/Estadisticas'">Estadisticas</button
    >
    <button
        class="boton-oscuro text-white px-4 py-2 flex-1 h-full"
        onclick="window.location.href='/Explorar'">Explorar</button
    >
    <button
        class="boton-oscuro text-white px-4 py-2 flex-1 h-full"
        onclick="window.location.href='/Contacto'">Contacto</button
    >
</nav>

<style>
    .fuente_zen_dots {
        font-family: "Zen Dots";
    }
    .boton-oscuro {
        background-color: rgb(55, 47, 58);
        transition: background-color 0.5s ease;
    }
    .boton-oscuro:hover {
        background-color: rgb(106, 98, 98);
    }
</style>
