---
// filepath: /c:/Users/angel/Desktop/TFG-2DAM/FlowStats/src/components/Cabecera.astro
import Barra from "./Barrabusqueda.jsx";
---

<header class="flex items-center justify-between w-full p-4 bg-orange-400">
    <div class="flex items-center">
        <Barra />
    </div>
    <div class="flex items-center ml-92">
        <h1 class="text-white text-4xl fuente_zen_dots mr-2">Flow</h1>
        <img
            src="https://imagedelivery.net/DX6aCRCKOB_y-l4MZVDT9w/90b3847e-cb56-4b3d-9b1d-838b48f72100/public"
            alt="logo FlowStats"
            class="h-16 w-16 mx-0"
        />
        <h1 class="text-white fuente_zen_dots text-4xl ml-2">Stats</h1>
    </div>
    <a href="" class="text-black font-bold ml-auto">Acceder</a>
</header>
<span class="block w-full bg-black h-2"></span>
{/* Barra de navegacion para enrutamiento entre paginas */}
<nav class="flex justify-between h-12 w-full mt-0">
    <button class="boton-oscuro text-white px-4 py-2 flex-1 h-full"
        >Inicio</button
    >
    <button class="boton-oscuro text-white px-4 py-2 flex-1 h-full"
        >Noticias</button
    >
    <button class="boton-oscuro text-white px-4 py-2 flex-1 h-full"
        >Estadisticas</button
    >
    <button class="boton-oscuro text-white px-4 py-2 flex-1 h-full"
        >Explorar</button
    >
    <button class="boton-oscuro text-white px-4 py-2 flex-1 h-full"
        >Contacto</button
    >
</nav>

<style>
    .fuente_zen_dots {
        font-family: "Zen Dots";
    }
    .boton-oscuro {
        background-color: rgb(55, 47, 58);
        transition: background-color 0.5s ease;
    }
    .boton-oscuro:hover {
        background-color: rgb(106, 98, 98);
    }
</style>
