---
//componente para la cabecera de todas las paginas
---

<header>
    <div class="bg-orange-400 flex items-center p-4">
        <div class="flex items-start">
            <input
                type="text"
                placeholder="Busca cantantes y mas!!"
                class="bg-gray-200 p-2 rounded-lg"
            />
        </div>
        <div class="flex items-center ml-94">
            <h1 class="text-white text-4xl fuente_zen_dots mr-2">Flow</h1>
            <img
                src="https://imagedelivery.net/DX6aCRCKOB_y-l4MZVDT9w/90b3847e-cb56-4b3d-9b1d-838b48f72100/public"
                alt="logo FlowStats"
                class="h-16 w-16 mx-0"
            />
            <h1 class="text-white fuente_zen_dots text-4xl ml-2">Stats</h1>
        </div>
        <a href="" class="text-black font-bold ml-auto mr-24">Acceder</a>
    </div>
    <span class="block w-full bg-black h-2"></span>
    <!--Barra de navegacion para enrutamiento entre paginas-->
    <nav class="flex justify-center h-12">
        <button class="boton-oscuro text-white px-4 py-2 flex-1 h-full"
            >Inicio</button
        >
        <button class="boton-oscuro text-white px-4 py-2 flex-1 h-full"
            >Noticias</button
        >
        <button class="boton-oscuro text-white px-4 py-2 flex-1 h-full"
            >Estadisticas</button
        >
        <button class="boton-oscuro text-white px-4 py-2 flex-1 h-full"
            >Explorar</button
        >
        <button class="boton-oscuro text-white px-4 py-2 flex-1 h-full"
            >Contacto</button
        >
    </nav>
    <style>
        .fuente_zen_dots {
            font-family: "Zen Dots";
        }
        .boton-oscuro {
            background-color: rgb(55, 47, 58);
            transition: background-color 0.5s ease;
        }
        .boton-oscuro:hover {
            background-color: rgb(106, 98, 98);
        }
    </style>
</header>
