---

---

<footer class="w-full bg-orange-400 border-t-7 border-black p-4">
    <div class="container mx-0 flex justify-between items-center">
        <div class="text-left">
            <p class="text-black">
                © 2025 FlowStats.
                <br /> Todos los derechos reservados.
            </p>
        </div>
        <div class="flex-grow text-center">
            <a href="https://leoncma.salesianas.org/">
                <img
                    class="h-20 w-20 mx-auto"
                    src="https://imagedelivery.net/DX6aCRCKOB_y-l4MZVDT9w/365a8163-811f-48a0-53fd-cc12f8abc200/public"
                    alt="CMA Leon"
                />
            </a>
        </div>
        <div class="text-right">
            <a href="https://github.com/R37R0FVCK">
                <img
                    class="h-22 w-22"
                    src="https://imagedelivery.net/DX6aCRCKOB_y-l4MZVDT9w/58521d6f-628d-48f4-aeca-93b47260e400/public"
                    alt="Perfil Github"
                />
            </a>
        </div>
    </div>
</footer>
