---
// filepath: c:\Users\angel\Desktop\TFG-2DAM\FlowStats\src\components\NavCuenta.astro
---

<nav class="bg-orange-500 border-r-4 border-black p-4 space-y-4 h-full w-60">
    <button
        class="bg-blue-500 text-white py-2 px-4 rounded w-full"
        onclick="window.location.href='/pagina1'">P치gina 1</button
    >
    <button
        class="bg-blue-500 text-white py-2 px-4 rounded w-full"
        onclick="window.location.href='/pagina2'">P치gina 2</button
    >
    <button
        class="bg-blue-500 text-white py-2 px-4 rounded w-full"
        onclick="window.location.href='/pagina3'">P치gina 3</button
    >
    <button
        class="bg-blue-500 text-white py-2 px-4 rounded w-full"
        onclick="window.location.href='/pagina4'">P치gina 4</button
    >
</nav>
