---

---

<nav
    class="bg-orange-400 border-r-4 border-black p-0 h-full w-full sm:w-40 flex flex-col"
>
    <button
        class="text-black py-2 w-full text-left fondoboton"
        onclick="window.location.href = '/Micuenta'"
    >
        Informacion general
    </button>
    <button
        class="text-black py-2 w-full text-left fondoboton"
        onclick="window.location.href = '/Pagina2'"
    >
        Página 2
    </button>
    <button
        class="text-black py-2 w-full text-left fondoboton"
        onclick="window.location.href = '/PersonalizarDatosUsuario/ModificacionDatos'"
    >
        Modificar Datos
    </button>
    <form action="/CerrarSesion" method="post" class="w-full">
        <button
            type="submit"
            class="text-black py-2 w-full text-left fondoboton"
        >
            Cerrar Sesión
        </button>
    </form>
</nav>

<style>
    .fondoboton {
        transition: background-color 0.5s ease;
    }

    .fondoboton:hover {
        background-color: rgba(106, 98, 98, 0.3);
    }
</style>
