---
// filepath: c:\Users\angel\Desktop\TFG-2DAM\FlowStats\src\layouts\Layout.astro
import Cabecera from "../components/Cabecera.astro";
import NavCuenta from "../components/NavCuenta.astro"; // Cambiado a JSX
const { title, mostrarNavcuenta } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="/src/styles/global.css" />
		<!--Fuentes de API google -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="h-screen flex flex-col">
		<Cabecera />
		<main class="flex-grow flex">
			{mostrarNavcuenta && <NavCuenta />}
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	main {
		padding: 0;
	}
</style>
